<div id="container" class="flex-column">
    <div id="botones-container" class="flex-apart">
        <div id="d-pad-container">
            <div></div>
            <div></div>
        </div>
        <div id="x-o-container">
            <div id="x-o-borde-container" class="flex-apart">
                <div class="botones-redondos"> <span>X</span>  </div>
                <div class="botones-redondos"> <span>O</span>  </div>
            </div>
        </div>
    </div>
    <div id="botones-start-container">
        <div class="botones-alargados"> <span>SELECT</span></div>
        <div class="botones-alargados"> <span>START</span></div>
    </div>
    <div id="parlante-container">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>